{% extends 'index.html' %}
{% block content %}

<div>
    <span><a href='/'>Home</a></span>
    <span><a href='logout'>Logout</a></span>
</div>

<h2>Your Project Info!</h2>
<table border='1'>
    <tr>
        <th>Project Name</th>
        <th>Client Name</th>
        <th>Last Updated</th>
        <th>Created By</th>
        <th>Username</th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{project.project.project_name}}</td>
        <td>{{project.project.client.client_name}}</td>
        <td>{{project.project.created_at}}</td>
        <td>{{project.project.created_by}}</td>
        <td>{{project.user.username}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}